[template]
cargo_generate_version = ">=0.10.0"

[hooks]
pre = ["pre-get-repository.rhai"]


#[placeholders.gh-username]
#type = "string"
#prompt = "GitHub username (or organization)?"
## The username cannot end with a hyphen, too, but
## this requirement is not captured by the regex at the moment.
#regex = "^[A-Za-z0-9][A-Za-z0-9-]{0,38}$"
#
#[placeholders.project-description]
#type = "string"
#prompt = "Project description?"

[conditional.'crate_type == "lib"']
ignore = [ 
    "src/main.rs", 
    ".github/workflows/cd.yml"  # release assets is common for binaries not for libraries
]

[conditional.'crate_type == "bin"']
ignore = [ "src/lib.rs" ]

[conditional.'ci-type != "github-actions"']
ignore = [ ".github"]
